<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>SHOP</title>
</head>
<body>
<h1>SHOP</h1>
<hr>
<h4>Панель администратора</h4>
<table>
    <tr>
        <th>Email</th>
        <th>Номер телефона</th>
        <th>Активность</th>
        <th>Роли</th>
        <th>Бан</th>
        <th>Редактирование</th>
        <th>Подробная информация</th>
    </tr>

    <tr th:each="user: ${users}">
        <div>
            <th th:text="${user.email}"></th>
            <th th:text="${user.phoneNumber}"></th>
            <if th:text="${user.active}" th:text="true"></if>
            <else th:text="${user.active}" th:text="false"></else>
            </th>
        </div>
    </tr>

    <tr th:each="role: ${user.roles}">
        <div>
            <th th:text="${role}" th:text="ROLE_USER" th:text="ROLE_ADMIN"></th>
        </div>
    </tr>

    <tr>
        <th>
            <form action="/admin/user/ban/${user.id}" method="post">
                <input type="hidden" name="_csrf" value="${_csrf.token}">
                <input type="submit" value="Бан">
            </form>
        </th>
        <th><a th:href="/admin/user/edit/${user.id}">Редактирование</a></th>
        <th><a th:href="/user/${user.id}">Подробная информация</a></th>
    </tr>

</table>
</body>
</html>