<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>SHOP</title>
</head>

<body>
<h1>SHOP</h1>
<hr>
<h2>Авторизация</h2>
<!--<form action="/log" method="post">-->
<!--    <div>-->
<!--        <label for="username">Username:</label>-->
<!--        <input type="email" id="username" name="username"/>-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for="password">Password:</label>-->
<!--        <input type="password" id="password" name="password"/>-->
<!--    </div>-->
<!--    <input type="submit" value="Login"/>-->
<!--</form>-->

<form action="/log" method="post">
    Электронная почта: <input type="email" name="username"><br><br>
    Пароль:<input type="password" name="password"><br><br>
<!--    <input type="hidden" name="_csrf" content="{{ csrf_token() }}">-->
    <input type="submit" value="ВХОД"/>
</form>
<a href="/registration">Зарегистрироваться</a>
</body>
</html>