<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>SHOP</title>
</head>

<body>
<h1>SHOP</h1>
<hr>
<h2>Авторизация</h2>

<form th:action="@{/login}" method="post">
    Электронная почта: <input type="email" name="name"><br><br>
    Пароль:<input type="password" name="password"><br><br>
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
    <input type="submit" value="ВХОД"/>
</form>
<a th:href="@{/registration}">Зарегистрироваться</a>
</body>
</html>