<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>SHOP</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>

<body>
<img th:src="@{/picture/samsung.jpg}" alt="gh" width="300"/>
<h1>Приветствуем Вас в нашем магазине!</h1>
<hr>

<if expr="user.email??"></if>
<h3>Имя пользователя: <input type="text" name="${user.name}"/><br></h3>
<form action="@{/logout}" method="post">
    <input type="hidden" name="_csrf" content="${_csrf.token}">
    <input type="submit" value="Выход"/>
</form>
<a th:href="@{/login}">Войти</a></h1>
<hr>

<h2>Посмотреть список товаров</h2>
<form action="/products" method="get">
    Поиск по названию товара: <input type="text" name="title"><br>
    <input type="submit" value="Поиск"/>
</form>
<!-- Используем Thymeleaf для перебора списка товаров -->
<tr th:each="product: ${products}">
    <div>
        <td th:text="${product.title}"></td>
        <td th:text="${product.price}">
        <td th:text=" руб."></td>

        <td><a th:href="@{/product-info/{id}(id=${product.id()})}">Подробнее..</a></td>
    </div>
</tr>

<if expr="user.email??">
    <hr>
    <h2>Создать новый товар</h2>
    <form action="/product/create" method="post" enctype="multipart/form-data">
        Название товара: <input type="text" name="title"/><br><br>
        Описание товара: <input type="text" name="description"/><br><br>
        Цена: <input type="number" name="price"/><br><br>
        Город: <input type="text" name="city"/><br><br>
        Первая фотография: <input type="file" name="file1"/><br><br>
        Вторая фотография: <input type="file" name="file2"/><br><br>
        Третья фотография: <input type="file" name="file3"/><br><br>
        <input type="hidden" name="_csrf" value="${_csrf.token}">
        <input type="submit" value="Добавить товар"/>
    </form>
</if>
</body>
</html>
